@model IEnumerable<StockTracking.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:100%">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:center"><i class="fas fa-list-alt"></i>&nbsp;Users</h3>
            @if (User.IsInRole("admin"))
            {
                <p>@Html.ActionLink("Add New User", "Create", null, new { @class = "btn btn-primary" })</p>
            }
            <table id="UserList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserSurname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserIsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model=>model.UserPassword)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Department.DepartmentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserRole.UserRoleName)
                        </th>
                        @if (User.IsInRole("admin"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserSurname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserIsActive)
                            </td>
                           <td>
                               @Html.DisplayFor(modelItem=>item.UserPassword)
                           </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserRole.UserRoleName)
                            </td>
                            @if (User.IsInRole("admin"))
                            {
                                <td>
                                    @Html.ActionLink("Update", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary btn-sm", @Style="Width:50%" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger btn-sm", @Style = "Width:47%" })
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
