@model IEnumerable<StockTracking.Models.Product>

@{
    ViewBag.Title = "Index";

}


<div class="container" style="width:80%;margin-left:auto">
    <div class="row">
        <div class="col-md-12">
            <h2>Departman Listesi</h2>
            <p>
                @Html.ActionLink("Yeni Departman Ekle", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="ProductList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductStockState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AcceptDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th style="width:20px">
                            @Html.DisplayNameFor(model => model.ProductQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Brand.BrandName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductType.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductStockState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcceptDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Güncelle", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Sil", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Product Listesi</h2>
            <p>
                @Html.ActionLink("Yeni Departman Ekle", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="ProductList" class="table table-bordered table-stripeds" style="width:100%">
              
            </table>
        </div>
    </div>
</div>*@





@*<div class="container" style="width:100%">
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Yeni Ürün Ekle", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="ProductList" class="table table-bordered table-stripeds" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductStockState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AcceptDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th style="width:20px">
                            @Html.DisplayNameFor(model => model.ProductQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Brand.BrandName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductType.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductStockState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcceptDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Güncelle", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Sil", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
          </div>
        </div>
    </div>*@