@model IEnumerable<StockTracking.Models.Product>

@{
    ViewBag.Title = "Index";

}

    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align:center"><i class="fas fa-list-alt"></i>&nbsp;Products</h2>
            <p>
                @Html.ActionLink("Add New Product", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="ProductList" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.ProductStockState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AcceptDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th style="width:20px">
                            @Html.DisplayNameFor(model => model.ProductQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Brand.BrandName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductType.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductStockState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcceptDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td style="text-align:center">
                                @Html.ActionLink("Update", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm mb-1" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger btn-sm deletebtn" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
