@model IEnumerable<StockTracking.Models.Department>

@{
    ViewBag.Title = "Index";
}

  
<div class="row">
    <div class="col-md-4">
        <h2>Departman Listesi</h2>

        <p>
            @Html.ActionLink("Yeni Departman Ekle", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.ActionLink("Güncelle", "Edit", new { id = item.DepartmentID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Sil", "Delete", new { id = item.DepartmentID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
